*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  scroll-behavior: smooth;
}

/*WEBSITE BACKGROUND*/
.body,
.essay-body,
.design-body
{
  background-image: linear-gradient(white, #d1d7db);
}






/*NAVIGATION BAR*/
.a
{
  text-decoration: none;
  
  color: #203A43;
  font-size: 20px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: color 0.1s;
}

.a:hover
{
  color: #498aa6;
}

.logo
{
  margin-left: 70px;
  color: black;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;

  background: -webkit-linear-gradient(#2C5364, #0F2027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-box
{
  width: 70px;
  height: 70px;
  border: 6px solid #203A43;
  border-radius: 10px;
  margin-top: -74px;
  margin-left: -5px;
  background-image: linear-gradient(0deg, #0F2027, #2C5364) 1;
}

.logo,
.logo-box
{
  transition: box-shadow 0.2s,
    border-radius 0.2s;
}

.logo:hover,
.logo-box:hover
{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.215);
  border-radius: 10px;
}

.topnav
{
  display: flex;
  align-items: center;
}

.list
{
  list-style: none;
}

#id-navbaar
{
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgb(212, 217, 219);
  backdrop-filter: blur(6px);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  transition: top 0.3s;
}

.navbar
{
  max-width: 1400px;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links
{
  display: flex;
  gap: 5rem;
  margin-top: 0.5rem;
  margin-right: 5rem;
}

.navbar .toggle-btn
{
  color: #0F2027;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 30px;
  display: none;
}






/*DROPDOWN MENU*/
.dropdown-menu
{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  margin-top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 10px;
  backdrop-filter: blur(6px);
  overflow: hidden;
  transition: height .2s cubic-bezier(0.15, 0.885, 0.32, 1.275);
}

.dropdown-menu.open
{
  height: 240px;
}

.dropdown-menu .list
{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}






/*RESPONSIVE DESIGN*/
@media(max-width: 1080px)
{
  section#home,
  section#about
  {
    height: calc(70vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-top: 100px;
  }
}

@media(max-width: 992px)
{
  .navbar-links
  {
    display: none;
  }

  .navbar .toggle-btn
  {
    display: block;
  }

  .dropdown-menu
  {
    display: block;
  }
}

@media(max-width: 576px)
{
  .dropdown-menu
  {
    left: 2rem;
    width: unset;
  }
}







/*WEBSITE SECTIONS*/
section#home
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-top: 100px;
}


section#about
{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}


section#contacts
{
  height: calc(70vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 0px;
}


section#works
{
  height: 450vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 100px;
}






/*HOME SECTION STYLES*/
.home-container
{
  display: grid;
  height: 100vh;
  width: 80vw;
  grid-template-rows: 50px 100px 100px 100px;
  align-items: center;
  grid-template-areas: 
  "header"
  "side"
  "main"
  "footer";
}

.space1
{
  grid-area: header;
}

.space2
{
  grid-area: side;
}

.space3
{
  grid-area: main;
}

.space4
{
  grid-area: footer;
}






/*ABOUT SECTION STYLES*/
.about-container1
{
  display: grid;
  height: 10vh;
  width: 70vw;
  margin-bottom: 10px;
  align-items: center;
  grid-template-columns: 7fr 3fr;
  gap: 10px;
  grid-template-areas: 
  "header header2";
}

.block1
{
  grid-area: header;
}

.block2
{
  grid-area: header2;
}


/*ABOUT CONTAINER*/
.about-container2
{
  display: grid;
  height: 100vh;
  margin-bottom: 10px;
  align-items: center;
  width: 70vw;
  grid-template-columns: 1fr 5fr 4fr;
  gap: 10px;
  grid-template-areas: 
  "main main2 main3";
}


/*COLUMN TO ROW*/
@media(max-width: 980px)
{
  .about-container2
  {
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "main"
      "main2"
      "main3";
  }

  .block4
  {
    grid-area: first;

    margin-bottom: 0;
  }

  .block5
  {
    grid-area: second;
  }

  .block3
  {
    display: none;
  }
}

.block3
{
  grid-area: main;
}

.block4
{
  grid-area: main2;
  padding-block: 20px;
}

.block5
{
  grid-area: main3;
  justify-self: center;
}






/*PORTFOLIO WORK*/
.myWorks-container
{
  display: grid;
  height: 120vh;
  width: 70vw;
  margin-bottom: 100px;
  grid-template: 90px 90px 300px 400px / 5fr 5fr;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-areas: 
  "header  header" 
  "sidebar main" 
  "footer  footer";
}

.box
{
  background: #d1d7db;
  border-radius: 10px;
  padding: 10px;
}

.box-one,
.box-two
{
  grid-column: 1 / 3;
  background: none;
}

.box-four
{
  grid-column: footer;
}

.box-container1,
.box-container2,
.box-container3
{
  display: grid;
  height: auto;
  grid-template: auto auto / 5fr 5fr;
  column-gap: 10px;
  padding: 10px;
  row-gap: 1px;
  justify-items: center;
  align-items: center;
}

.ekko-div,
.enemy-div,
.places-div
{
  grid-row: 1 / 3;
}

.words,
.placesTitle,
.placesDesc
{
  grid-column: 2 / 3;
}






/*SCHOOL WORK*/
.main-container
{
  display: grid;
  grid-template: 10px 100px 10px 100px auto / auto;
  grid-template-areas: 
  "line1"
  "title"
  "line2"
  "intro"
  "grids";
}

.line-work1
{
  grid-area: line1;
}

.wworks
{
  grid-area: title;
}

.line-work2
{
  grid-area: line2;
}

.my-web
{
  grid-area: intro;
}

.weeks-container
{
  grid-area: grids;
}






/*WEEK CONTAINER*/
.week-body
{
  height: calc(160vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  padding-top: 100px;
}





.essay-body
{
  height: 450vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  padding-top: 100px;
}





/*DESIGN SECTION*/
.design-body
{
  height: calc(1550vh - 1400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  padding-top: 100px;
}


@media(max-width: 768px)
{
  .design-body
  {
    width: 100vw;
  }
}



/*LINE STYLES*/
.line1
{
  border-bottom: 3px solid #2C5364;
  width: 100px;
}

.line2
{
  border-bottom: 3px solid #2C5364;
  width: 200px;
}

.line4
{
  border-bottom: 3px solid #2C5364;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.line5
{
  border-bottom: 3px solid #2C5364;
  width: 100px;
}

.line3
{
  border-right: 3px solid #2C5364;
  height: 380px;
  margin: 0 auto;
  width: 2px;
}






/*TEXT STYLES*/
.hey
{
  font-size: 30px;
  color: #2C5364;
}


.p-name,
.student,
.p-note,
.about-title,
.my-works,
.m-works,
.art1-stuff,
.week-heading,
.week-heading2,
.dev-blog
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.p-name
{
  font-size: 80px;
  background: -webkit-linear-gradient(#2C5364, #0F2027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* This portion sets up the CSS3 transition */
  transition: font-size .25s linear; 
  -o-transition: font-size .25s linear; 
  -moz-transition: font-size .25s linear; 
  -webkit-transition: font-size .25s linear;
}


.student
{
  font-size: 70px;
  color: #0F2027;

  /* This portion sets up the CSS3 transition */
  transition: font-size .25s linear; 
  -o-transition: font-size .25s linear; 
  -moz-transition: font-size .25s linear; 
  -webkit-transition: font-size .25s linear;
}


/* This is the first shrink media querry */
@media(max-width: 940px)
{
  .p-name
  {
    font-size: 70px;
  }

  .student
  {
    font-size: 60px;
  }

  .home-container
  {
    grid-template-rows: 50px 70px 70px 100px;
  }
}


.p-note
{
  font-size: 20px;
  color: #0F2027;
  width: 600px;
  font-weight: 600;

  /* This portion sets up the CSS3 transition */
  transition: font-size .25s linear; 
  -o-transition: font-size .25s linear; 
  -moz-transition: font-size .25s linear; 
  -webkit-transition: font-size .25s linear;
}


.below
{
  font-size: 20px;
  color: #0F2027;
  width: 600px;
  margin-left: 0px;
  font-weight: 500;
  margin-bottom: 0px;
}


.well
{
  font-size: 20px;
  margin-bottom: 20px;
  color: #0F2027;
  
  font-weight: 550;
  line-height: 1.5;

  /* This portion sets up the CSS3 transition */
  transition: font-size .25s linear; 
  -o-transition: font-size .25s linear; 
  -moz-transition: font-size .25s linear; 
  -webkit-transition: font-size .25s linear;
}


@media(max-width: 1230px)
{
  .well
  {
    font-size: 18px;
  }
}


@media(max-width: 930px)
{
  .well
  {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .block4
  {
    padding-block: 0;
  }
}


/*ABOUT TITLE STYLES*/
.about-title,
.my-works,
.m-works
{
  font-size: 60px;
  color: #0F2027;
  font-weight: bold;
  background: -webkit-linear-gradient(#0F2027, #2C5364);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* This portion sets up the CSS3 transition */
  transition: font-size .25s linear; 
  -o-transition: font-size .25s linear; 
  -moz-transition: font-size .25s linear; 
  -webkit-transition: font-size .25s linear;
}


.my-works
{
  text-align: center;
}


@media(max-width: 820px)
{
  .p-name
  {
    font-size: 60px;
  }

  .student
  {
    font-size: 50px;
  }

  .home-container
  {
    grid-template-rows: 50px 80px 80px 100px;
  }

  .about-title
  {
    font-size: 50px;
  }

  .p-note
  {
    font-size: 19px;
  }
}


@media(max-width: 660px)

{
  .about-title
  {
    font-size: 40px;
  }

  .line2
{
  width: 150px;
}
}


.about-words,
.me-pic,
.heey,
.lline,
.aabout,
.about-line,
.wwell,
.well-line,
.work-line,
.ekko-div,
.art-word,
.enemy-div,
.art2-word,
.demo-test,
.final-test
{
  display: inline-block;
}


.lline
{
  margin-left: 20px;
  margin-bottom: 8px;
}


.about-line
{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}


.work-line
{
  margin-bottom: 20px;
}


.wt-works
{
  margin-left: -5px;
}


.u-photo
{
  width: 300px;
  height: 300px;
  border-radius: 15px;
  transition: box-shadow 0.2s;
}


.u-photo:hover
{
  cursor: pointer;
  box-shadow: 20px 20px 20px #203a4392;
}


.art-div,
.art2-div
{
  background-color: #bdc1c59c;
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 20px;
  
  border-radius: 10px;
}


.art3-div
{
  background-color: #bdc1c59c;
  margin-bottom: 40px;
  margin-right: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 350px;
  border-radius: 10px;
}


.art4-div
{
  background-color: #bdc1c59c;
  margin-bottom: 40px;
  margin-right: 30px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.art-pic,
.art2-pic
{
  width: 250px;
  height: 250px;
  border-radius: 10px;
}


.places-pic
{
  width: 600px;
  height: 350px;
}


.places-pics
{
  width: 1000px;
  height: 500px;
}

.art-title,
.art2-title
{
  color: #203A43;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  text-align: center;
}

.art-title2
{
  color: #203A43;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.art1-stuff,
.art2-stuff
{
  width: 200px;
  color: #2C5364;
  font-size: 18px;
  padding-left: 0px;
  text-align: center;
}

.art3-stuff
{
  width: 300px;
  color: #2C5364;
  font-size: 18px;
  text-align: center;
}

.art4-stuff
{
  width: 100%;
  color: #2C5364;
  font-size: 18px;
  padding-left: 20px;
  text-align: center;
}

.my-website
{
  color: #2C5364;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
}

.p-email
{
  color: #2C5364;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  width: 600px;
}

.art-div,
.art2-div,
.art3-div,
.art4-div
{
  position: relative;
}

.art-word,
.art2-word
{
  position: absolute;
  top: 50px;
  margin-left: 20px;
}

.grid-item
{
  background-image: linear-gradient(#0f2027, #2c5364);
  color: #d1d7db;
  text-align: center;
  border-radius: 10px;
}

.week-title
{
  font-size: 30px;
  color: #0F2027;
  font-weight: bold;
  background: -webkit-linear-gradient(#cecece, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.week-heading
{
  font-size: 60px;
  width: 600px;
  margin-bottom: 20px;
  color: #0F2027;
  font-weight: bold;
  background: -webkit-linear-gradient(#0f2027, #2c5364);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.week-heading2
{
  font-size: 60px;
  margin-top: 100px;
  color: #0F2027;
  font-weight: bold;
  background: -webkit-linear-gradient(#0f2027, #2c5364);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div-dev
{
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 100px;
}

.dev-blog
{
  font-size: 40px;
  color: #0F2027;
  font-weight: bold;
  margin-bottom: 30px;
  background: -webkit-linear-gradient(#2C5364, #0f2027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div-dev2
{
  background-color: #b8b8b846;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 10px;
}

.blog-text
{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0f2027;
  font-weight: 500;
}

.sum-week
{
  font-size: 15px;
  margin-top: 10px;
  font-weight: 100;
  width: 300px;
  background: -webkit-linear-gradient(#b8b8b8, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.da-container,
.my-web,
.grid-item,
.essay-item
{
  display: grid;
  place-items: center;
}

.weeks-container 
{
  margin-top: 50px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 510px 510px;
  grid-template-rows: repeat(7, 300px);
  column-gap: 20px;
  row-gap: 20px;
}

.essay-item
{
  background-color: #bdc1c5aa;
  text-align: center;
  border-radius: 10px;
}

.essay-text
{
  font-size: 15px;
  margin-top: 10px;
  font-weight: 100;
  width: 300px;
  background: -webkit-linear-gradient(#000000, #343434);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.essay-title
{
  font-size: 60px;
  color: #0F2027;
  font-weight: bold;
  background: -webkit-linear-gradient(#0f2027, #2c5364);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*Design Section GoBack Link*/
a
{
  text-decoration: none;
}


.wireframe-below
{
  font-size: 20px;
  color: #0F2027;
  width: 600px;
  margin-left: 0px;
  font-weight: 500;
  margin-bottom: 50px;
}

.wireframe-below2
{
  font-size: 20px;
  color: #0F2027;
  width: 600px;
  margin-left: 0px;
  font-weight: 500;
  margin-bottom: 10px;
}

.scheme-list
{
  font-size: 20px;
  color: #0F2027;
  width: 100%;
  margin-left: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}

.nest-list
{
  margin-left: 30px;
  color: #498aa6;
}

.d-hp
{
  height: auto;
  padding: 10px;
  max-width: 500px;
}


.homepage-div
{
  margin-bottom: 100px;
}





@media(max-width: 1200px)
{
  .box-container1,
  .box-container2,
  .box-container3
  {
    column-gap: 2px;
  }
}

@media(max-width: 1150px)
{
  section#works
  {
    height: 500vh;
  }
  
  .myWorks-container
  {
    height: 190vh;
    grid-template: 90px 90px 300px 300px 800px / 600px;
    column-gap: 10px;
    grid-template-areas: 
    "header1" 
    "sidebar1"
    "main1"
    "footer1"
    "footer2";
  }

  .box-one
  {
    grid-area: header1;
  }

  .box-two
  {
    grid-area: sidebar1;
  }

  .box-container1
  {
    grid-area: main1;
  }

  .box-container2
  {
    grid-area: footer1;
  }

  .box-container3
  {
    grid-area: footer2;

    grid-template: 400px 50px 300px / 600px;
    justify-items: center;
    align-items: center;

    grid-template-areas: 
    "placespic" 
    "places"
    "description";
  }

  .words
  {
    grid-column: 2 / 3;
  }

  .places-div
  {
    grid-area: placespic;
  }

  .placesTitle
  {
    grid-area: places;
  }

  .placesDesc
  {
    grid-area: description;
  }


  .main-container
  {
    margin-top: 100px;
  }


  .weeks-container
  {
    column-gap: 10px;
  }

  .places-pic
  {
    width: 550px;
    height: 300px;
  }
}


@media(max-width: 768px)
{
  .weeks-container
  {
    grid-template: repeat(14, 200px) / 700px;
  }

  section#home
  {
    height: 70vh;
    padding-top: 200px;
  }

  .myWorks-container
  {
    height: 180vh;
  }

  section#contacts
  {
    padding-top: 400px;
    height: 90vh;
  }
}


@media(max-width: 820px)
{
  .weeks-container
  {
    grid-template: repeat(14, 200px) / 700px;
  }

  section#home
  {
    height: 80vh;
    padding-top: 300px;
  }

  section#works
  {
    margin-bottom: 0px;
  }

  section#contacts
  {
    margin-top: 10vh;
  }

  .about-container2
  {
    grid-template-rows: 10px 350px 300px;
  }

  .myWorks-container
  {
    height: 160vh;
  }
}


@media(min-width: 1024px)
{
  section#works
  {
    height: 650vh;
    margin-top: 300px;
  }

  .myWorks-container
  {
    margin-bottom: 550px;
  }

  .weeks-container 
  {
    grid-template-columns: 450px 450px;
    grid-template-rows: repeat(7, 250px);
    column-gap: 10px;
    row-gap: 10px;
  }
}


@media(min-width: 1280px)
{
  section#works
  {
    height: 450vh;
    margin-top: 0px;
  }

  section#contacts
  {
    margin-top: 40vh;
  }

  .myWorks-container
  {
    margin-bottom: 0px;
  }

  .main-container
  {
    margin-top: 100px;
  }


  .weeks-container 
  {
    grid-template-columns: 510px 510px;
    grid-template-rows: repeat(7, 300px);
    column-gap: 20px;
    row-gap: 20px;
  }

}

@media(max-width: 480px) and (min-width: 300px)
{
  section#about
  {
    height: 100vh;
  }

  .about-container1
  {
    grid-template-columns: 250px;
  }

  .about-container2
  {
    grid-template-columns: 550px;
    grid-template-rows: 10px 350px 300px;
  }

  .myWorks-container
  {
    grid-template-columns: 550px;
    height: 180vh;
  }

  
  .weeks-container
  {
    gap: 5px;
  }
  

  .main-container
  {
    gap: 0px;
    width: 430px;
  }

  .box-container3
  {
    grid-template-columns: 550px;
  }

  .places-pic
  {
    width: 500px;
  }

  section#works
  {
    height: 600vh;
  }

  section#contacts
  {
    width: 700px;
    margin-top: 0;
  }

  .week-heading
  {
    font-size: 40px;
    width: 300px;
    margin-bottom: 0;
  }

  .essay-body
  {
    background: none;
  }
}